[submodule "apps/vite-react-template"]
	path = apps/vite-react-template
	url = https://github.com/yyd1142/vite-react-template.git
[submodule "apps/next-template"]
	path = apps/next-template
	url = https://github.com/yyd1142/next-template.git
