[submodule "apps/next-app-router-template"]
	path = apps/next-app-router-template
	url = https://github.com/yyd1142/next-app-router-template.git
[submodule "apps/next-page-router-template"]
	path = apps/next-page-router-template
	url = https://github.com/yyd1142/next-page-router-template.git
